// -*- mode: closure-template-html -*-
// forum.tmpl
//
// This file is part of the restas-forum library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace restas.forum.view}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main frame for standalone forum
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 
{template default-standalone-frame}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    {\n}
    <html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	    <head>
      	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            {if $title}
                <title>{$title}</title>
            {/if}

            {foreach $item in $css}
                <link href="{$item}" rel="stylesheet" type="text/css" />
            {/foreach}
	    </head>

	    <body>
            {$content |noAutoescape}
        </body>
    </html>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * list all forums
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template list-forums}
    <div class="rss-link">
        <a href="{$feedHref}">RSS</a>
    </div>

    {foreach $forum in $forums}
       <div class="forum">
           <a href="{$forum.href}">{$forum.title}</a>
       </div>
    {/foreach}
{/template}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * list forum topics
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template list-topics}
    <div class="forum-nav-panel" align="right">
        <div class="info">
            {if $hrefAfter}<a href="{$hrefAfter}">« Позже</a>{/if}
            {$first} - {min($first + length($topics) - 1, $totalCount)} 
            из {$totalCount}  
            {if $hrefBefore}<a href="{$hrefBefore}">Раньше »</a>{/if}
        </div>
    </div>

    {foreach $topic in $topics}
        <div class="topic">
            <a href="{$topic.href}">{$topic.title != '' ? $topic.title : '*notitle*'}</a>
            <div class="topicbody">
                {$topic.body}
            </div>
            <div class="topic-info">
                <span "topic-author">
                    Автор:
                    <strong>{$topic.author}</strong> - {$topic.createDate}

                    <br />

                    Сообщений: {$topic.messageCount}

                    {if $topic.lastAuthor}
                        <br />
                        Последнее: {$topic.lastAuthor} - {$topic.lastDate}                        
                    {/if}
                </span>
            </div>
        </div>
    {/foreach}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * show-topic
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template topic-message-replies}
    <div class="thread">
        <div id="forum-nav-panel">
            <a class="rss-link" href="{$rssHref}">RSS</a>
            <ul>
                <li>
                    <a href="{$listForumsHref}">Список форумов</a>
                </li>
                <li>
                    <a href="{$parentForum.href}">{$parentForum.title}</a>
                </li>
                <li>
                    <strong>{$message.title}</strong>
                </li>
            </ul>
        </div>
        
        <div class="topic">
            <div>
                <big>{$message.title}</big>
            </div>
            <div class="topic-info">
                <span class="topic-author">
                    Автор: <strong>{$message.author}</strong>
                    - {$message.created}, Сообщений - {$message.countReplies}
                </span>
            </div>
            <div class="topicbody">
                {$message.body |noAutoescape}
            </div>
        </div>

        {foreach $reply in $replies}
            <div class="reply">
                <div class="topic-info">
                    <span class="topic-author">
                        Автор: <strong>{$reply.author}</strong>
                        - {$reply.date}
                    </span>
                </div>

                <div class="replybody">
                    {$reply.body |noAutoescape}
                </div>
            </div>
        {/foreach}
    </div>
{/template}
