// -*- mode: closure-template-html -*-
// forum.tmpl
//
// This file is part of the restas-forum library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace restas.forum.view}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * list all forums
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template list-forums}
    <div class="rss-link">
        <a href="{$feedHref}">RSS</a>
    </div>

    {foreach $forum in $forums}
       <div class="forum">
           <a href="{$forum.href}">{$forum.title}</a>
       </div>
    {/foreach}
{/template}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * list forum topics
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template nav-panel}
  <div align="right" class="info">
      {if $hrefAfter}<a href="{$hrefAfter}">« Позже</a>{/if}
      Темы <strong>{$first}</strong> -
      <strong>{min($first + length($topics) - 1, $totalCount)}</strong>
      из <strong>{$totalCount}</strong>
      {if $hrefBefore}<a href="{$hrefBefore}">Раньше »</a>{/if}
  </div>
{/template}

{template list-topics}
    <div id="forum-nav-panel">
        <a class="rss-link" href="{$hrefRss}">RSS</a>

        <ul>
            <li>
                <a href="{$listForumsHref}">Список форумов</a>
            </li>
            
            <li>
                <strong>{$title}</strong>
            </li>
        </ul>
    </div>

    {call nav-panel data="all" /}

    <div class="topic-list">
        {foreach $topic in $topics}
            <div class="topic">
                {if $topic.hrefDelete}<a href="{$topic.hrefDelete}" class="delete-this">Удалить</a>{/if}
                <a href="{$topic.href}">{$topic.title != '' ? $topic.title : '*notitle*'}</a>
                
                <div class="topic-info">
                    <span "topic-author">
                        Автор: <strong>{$topic.author}</strong> - {$topic.createDate} <br />
                        Сообщений: {$topic.messageCount}
                        {if $topic.lastAuthor}
                            <br />
                            Последнее: {$topic.lastAuthor} - {$topic.lastDate}                        
                        {/if}
                    </span>
                </div>
            </div>
        {/foreach}
    </div>

    {call nav-panel data="all" /}

    {if $canCreateNewTopic}
        <input type="button" value="+ Новая тему" onclick="newmessage()" />

        <form id="editor" method="post" class="newmessage" style="display: none">
            <div>Новая тема</div>
            <div>
                <strong>Тема:</strong>
                <input name="title" size="80"></input>
            </div>
            <div>
                <textarea id="wysiwyg" rows="30" name="body"></textarea>
            </div>
            <div>
                <input type="submit" value="Отправить"></input>
            </div>
        </form>
    {/if}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * show-topic
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template topic-message-replies}
    <div class="thread">
        <div id="forum-nav-panel">
            <a class="rss-link" href="{$rssHref}">RSS</a>
            <ul>
                <li>
                    <a href="{$listForumsHref}">Список форумов</a>
                </li>
                <li>
                    <a href="{$parentForum.href}">{$parentForum.title}</a>
                </li>
                <li>
                    <strong>{$message.title}</strong>
                </li>
            </ul>
        </div>
        
        <div class="topic">
            <div>
                <big>{$message.title}</big>
            </div>
            <div class="topic-info">
                <span class="topic-author">
                    Автор: <strong>{$message.author}</strong>
                    - {$message.created}, Сообщений - {$message.countReplies}
                </span>
            </div>
            <div class="topicbody">
                {$message.body |noAutoescape}
            </div>
        </div>

        {foreach $reply in $replies}
            <div class="reply">
                <div class="topic-info">
                    {if $reply.hrefDelete}
                        <a class="delete-this" href="{$reply.hrefDelete}">Удалить</a>
                    {/if}
                    <span class="topic-author">
                        Автор: <strong>{$reply.author}</strong>
                        - {$reply.date}
                    </span>
                </div>

                <div class="replybody">
                    {$reply.body |noAutoescape}
                </div>
            </div>
        {/foreach}
    </div>

    {if $canCreateMessage}
       <input type="button" value="+ Новое сообщение" onclick="newmessage()"></input>
       <form method="post" class="newmessage" style="display:none" id="editor">
           <div>Новое сообщение: </div>
           <div>
               <textarea rows="30" name="body" id="wysiwyg"></textarea>
           </div>
           <div>
               <input type="submit" value="Отправить"></input>
           </div>
       </form>
    {/if}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * rss
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
     (RSS "rss"
          (xfactory:attributes "version" "2.0")
          (RSS "channel"
               (RSS "title"
                    (xfactory:text description))
               (RSS "link"
                    (xfactory:text (restas:genurl-with-host 'forum-main)))
               (RSS "description"
                    (xfactory:text "~A - RSS-лента" description))

               (iter (for (forum-id topic-id author message date title) in messages)
                     (RSS "item"
                          (RSS "title"
                               (xfactory:text "~A: ~A" author title))
                          (RSS "link"
                               (xfactory:text (restas:genurl-with-host 'view-topic :topic-id topic-id)))
                          (RSS "description"
                               (xfactory:text message))
                          (RSS "pubDate"
                               (xfactory:text (local-time:format-http-timestring nil (local-time:universal-to-timestamp date))
                                              )))))))))

*/

{template rss-feed}
    <rss version="2.0">
        <channel>
            <title>{$title}</title>
            <link>{$link}</link>
            <description>{$title} - RSS-лента</description>

            {foreach $item in $messages}
                <item>
                    <title>{$item.author}: {$item.title}</title>
                    <link>{$item.href}</link>
                    <description>{$item.message}</description>
                    <pubDate>{$item.date}</pubDate>
                </item>
            {/foreach}
        </channel>
    </rss>
{/template}
